* {
  margin: 0px;
  padding: 0px;
  font-family: "Varela Round", sans-serif;
}

body {
  height: 100vh;
  /* background-image: url("./images/nightbackground.jpg"); */
  background: rgb(6, 6, 6);
  background: linear-gradient(
    326deg,
    rgba(6, 6, 6, 1) 0%,
    rgba(106, 133, 173, 1) 100%
  );
}

.cols-2 {
  display: grid;
  grid-template-columns: 66% 33%;
}

.flex-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.album-cover {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 15px;
}

.album-title {
  padding: 1rem 0rem 0rem 0.5rem;
  color: white;
}

.container {
  margin: 2rem 5rem 2rem 5rem;
}

.album-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  font-size: 1.25rem;
  padding: 3rem;
  width: 75%;
  background-color: #212121;
  aspect-ratio: 1/1;
  border-radius: 5px;
  transition: box-shadow 250ms ease-in-out;
}

.album-card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.track-list {
  font-size: 1.25rem;
  font-weight: lighter;
  color: white;
  list-style-type: none;
}

.track-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 100%;
  margin: 0.5rem;
  border-radius: 10px;
  background-color: #212121;
  padding: 1rem;
  transition: box-shadow 250ms ease-in-out;
}

.track-card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.track-title {
  flex-shrink: 0;
}
