@charset "UTF-8";



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html,body {
  font-size: 10px; 
  font-family: 'Roboto', sans-serif;
}

li,
ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }



#nav-bar {
  background-color: #5ebec4;
  height: 70px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  ul {
    display: flex;
    flex-flow: row;
    width: 25vw;
    margin-left: 10vw; 
    li {
      display: flex;
      list-style: none;
      width: 100%;
      font-size: 2.4rem;
      letter-spacing: 0.3rem;
      font-weight: 700;
      color: black;
      text-align: left; 
      position: relative;
      a:after {
        content: '';
        position: absolute;
        width: 60%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #0087ca;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      a:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

}



.search {
  width: 30vw;
  position: relative;
  display: flex;
  justify-self: end; 

.searchTerm {
  border: none;
  width: 60%;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
 }

}
.searchTerm::placeholder {
  color: #b9cac2; 
}

.searchTerm:focus {
  color: black; 
}

.searchButton {
  width: 40px;
  height: 38px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px; }

.landing-page {
  width: 100vw;
  height: 95vh;
  background-color: rgba(253, 245, 223, 0.9);
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(253, 245, 223, 0.9)), url(../resource/img/hero.jpg);
  background-size: cover;
  background-position: top; }

.quote {
  font-size: 5rem;
  width: 68rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-110%, -50%); }

.album {
  width: 100vw;
  height: 95vh;
  position: relative;
  background-color: rgba(253, 245, 223, 0.9);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center; 
 
}

.album__img {
  position: relative;
  width: 640px;
  height: 640px;
  cursor: pointer;
  background-color: rgba(253, 245, 223, 0.9);
  background-size: cover;
  background-position: top;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition-duration: 0.3s; }

.album__img::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.album__caption {
  position: absolute;
  transition: all 0.3s;
  text-align: left;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 40%);
  opacity: 0;
  color: white;
  font-size: 5rem;
  transition-delay: 0.1s;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column; }

.album__img:hover {
  transform: scale(1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 5px; }

.album__img:hover::before {
  filter: blur(1px) brightness(70%);
  background-image: linear-gradient(rgba(146, 241, 247, 0.7), rgba(146, 241, 247, 0.7)); }

.album__img:hover .album__caption {
  opacity: 1; }

.bg-white {
  background-color: #ffffff; }

.album__quote {
  display: inline-block;
  font-size: 5rem;
  width: 68rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background: linear-gradient(58deg, #22c1c3 0%, #69fd2d 100%);
  -webkit-background-clip: text;
  color: transparent; }

.album-plus .album__img {
  background-image: url(../resource/img/ed_sher_plus.jpeg); }

.album-x .album__img {
  background-image: url(../resource/img/ed_sher_x.jpg); }

.album-divide .album__img {
  background-image: url(../resource/img/ed_sher_divide.png); }

.album-n6 .album__img {
  background-image: url(../resource/img/ed_sher_n6.png); }

.album-equals .album__img {
  background-image: url(../resource/img/ed_sher_equals.webp); }

.btn__listen {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 2rem; }
  .btn__listen a {
    position: relative;
    text-decoration: none;
    background-color: #5ebec4;
    padding: 1.5rem;
    color: white;
    text-align: center;
    width: 6rem;
    height: 6rem;
    transition: ease 0.4s;
    box-shadow: 0 20px 25px #238d94;
    overflow: hidden;
    border-radius: 3px; }
  .btn__listen a span {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    transition: 0.5s;
    font-size: 2rem;
    font-weight: 300; }
  .btn__listen a:hover {
    width: 200px;
    transition-delay: 0.3s; }
  .btn__listen a:hover > span {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
    transition-delay: 0.5s; }
  .btn__listen a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 12px;
    height: 12px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transition: 0.5s;
    transition-delay: 0.2s; }
  .btn__listen a:hover::before {
    transform: rotate(45deg) translate(90px, -90px);
    transition-delay: 0.1s; }
  .btn__listen a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    left: -50px;
    width: 12px;
    height: 12px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transition: 0.5s; }
  .btn__listen a:hover::after {
    transform: rotate(45deg) translate(50px, -60px);
    transition-delay: 0.4s; }


// Scroll animation

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}
 
.js-scroll.scrolled {
  opacity: 1;
}


// -----------CSS Animation --------------


.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
