h1 {
    color: #00539CFF;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    background-color: #EEA47FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  ul {
    list-style-type: none;
  }