* {
    padding: 0;
    margin: 0;
}

body{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background-image: url("assets/background.avif"); 
    color: white;
    animation: loadTransition 1s;
}

.album-cover{
    height: 700px;
    
}
img:hover{
    opacity: 0.5;
    color: white;
}


@keyframes loadTransition{

    from{
        opacity: 0;
        transform: translateY(-20px);
      
    }
    to{
        opacity: 1;
       transform: translate(0);
    }
}



.title{
    font-family: 'Nothing You Could Do', cursive;
    font-size: 60px;
    padding-bottom: 30px;
}

.album-info{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Overpass Mono', monospace;
    font-size: 28px;
    width:1200px;
    margin: 0 auto;
   
}

.highlight{
    padding-top: 40px;
    padding-bottom: 40px;
}

.lyrics{
    padding-top: 40px;
    padding-bottom: 40px;
}