body {
  font-family: 'Poppins', sans-serif;
  background-image: url(./background-dusk.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  width: 100%;
  background-size: 250% 250%;
}

h3 {
  font-size: 60px;
  font-weight: 700;
  font-style: italic;
  padding: 10px 0;
}

p {
  font-size: 23px;
  font-weight: 200;
  padding: 5px 0;
}

.arrow-icon {
  position: absolute;
  top: 30px;
  left: 30px;
}

.arrow-icon img {
  width: 40x;
  height: 40px;
}

.logo {
  display: block;
  width: 200px;
  margin: auto;
  left: 0;
  right: 0;
  padding: 50px;
}

.artist {
  text-align: center;
  margin: 50px 20px;
}

.artist img {
  max-width: 90%;
  width: 350px;
  border-radius: 200px;
  right: 0;
  left: 0;
  margin: auto;
  transition: transform 1s;
}

.artist img:hover {
  transform: scale(1.1);
}

.artist .statement {
  margin: 30px;
}

.statement {
  color: white;
  font-size: 25px;
  font-weight: 300;
  font-style: italic;
}

.album {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 50px;
  gap: 20px;
}

.album-cover {
  width: 500px;
  max-width: 90%;
  margin: auto;
  left: 0;
  right: 0;
}

.album-info {
  width: 500px;
  margin: auto;
  padding: 20px;
  font-size: 30px;
}

.album-info .album-title {
  height: 100%;
  border-bottom: 1.5px solid black;
}

.album-info .album-title .icons {
  margin: 10px 10px 10px 0;
  display: flex;
  align-items: center;
}

.album-info .album-title .icons img {
  width: 40px;
  height: 40px;
  top: 0;
  bottom: 0;
  margin: auto 10px;
}

.album-info .album-songs {
  padding: 20px 0;
  display: flex;
}

.album-info .album-songs p {
  padding: 10px 0;
}

.album-info .album-songs .song-title {
  width: 80%;
}

.album-info .album-songs .song-duration {
  color: rgb(193, 146, 146);
  right: 0;
  margin: auto;
}