
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');;

.responsive {
  width: 100%;
  height: auto;
}

.responsive:hover{
  -moz-box-shadow: 0 0 100px rgb(43, 42, 42);
  -webkit-box-shadow: 0 0 100px rgb(25, 24, 24);
  box-shadow: 0 0 100px rgb(18, 18, 18);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color:#fe48b6;
  text-decoration:none; 
  cursor:pointer;
}


.center_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  .center_text {
    text-align: center;
    width: 100%;
    /* background-color: #f1f1f1; */
    padding-left: 20px;
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Underdog', cursive;
    padding: 10px;
    background: #BBF1F1;
    background-image: url("https://images.unsplash.com/photo-1521080755838-d2311117f767?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1924&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  h2 {
    font-size: 140px;
  }

  h3 {
    font-size: 100px;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    /* background: #7897e6; */
  }
  
  .header h1 {
    font-size: 200px;
  }
  
  
  /* Change color on hover */
  .topnav a:hover {
    /* background-color: #ddd; */
    color: black;
  }

  .row1{
    display: flex;  
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .row1 .leftcolumn {   
    float: left;
    text-align: center;
    width: 50%;
  }
  
  /* Right column */
  .row1 .rightcolumn {
    float: left;
    /* text-align: center; */
    width: 50%;
    /* background-color: #7897e6; */
    padding-left: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    padding: 20px;
    margin-top: 20px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    /* background: #ddd; */
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }