
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');;

.responsive {
  width: 100%;
  height: auto;
}

.responsive:hover{
  -moz-box-shadow: 0 0 40px rgb(43, 42, 42);
  -webkit-box-shadow: 0 0 40px rgb(25, 24, 24);
  box-shadow: 0 0 40px rgb(18, 18, 18);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color:#d883d4; 
  text-decoration:none; 
  cursor:pointer;
}


.center_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  .center_text {
    text-align: center;
    width: 100%;
    /* background-color: #f1f1f1; */
    padding-left: 20px;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Underdog', cursive;
    padding: 10px;
    background: #BBF1F1;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 40px;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    /* background: #7897e6; */
  }
  
  .header h1 {
    font-size: 75px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: rgb(37, 100, 132);
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    /* background-color: #ddd; */
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    text-align: center;
    width: 50%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    /* text-align: center; */
    width: 50%;
    /* background-color: #7897e6; */
    padding-left: 20px;
  }

  /* Create four columns that floats next to each other */
  .fourcolumn {
    float: left;
    text-align: center;
    width: 25%;
    /* background-color: #f1f1f1; */
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    /* background-color: #aaa; */
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    /* background-color: white; */
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    /* background: #ddd; */
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }