* {
    background-color: rgb(24, 24, 24);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

.main {
    text-align: center;
    background-color: rgb(24, 24, 24);
}

.main h1 {
    font-size: 2.5rem;
    padding-bottom: 25px;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
}

.main h2 {
    font-size: 1.5rem;
    padding-top: 0px;
    margin-top: 0px;
    color: rgb(132, 132, 132);
}

.container {
    width: 800px;
    height: 300px;
    border: 10px;xs
    border-color: bisque;
    overflow: hidden;
    margin: auto;
    justify-content: center;

}

.photo {
    position: absolute;
    animation: round 5s infinite;
    opacity: 0;
}

@keyframes round {
    25% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}

-webkit-@keyframes round {
    25% {
        opacity: 1;
        -webkit-opacity: 1;
    }
    40% {
        opacity: 0;
        -webkit-opacity: 0;
    }
}

  img:nth-child(1) {
    animation-delay: 12s;
  }
   
  img:nth-child(2) {
    animation-delay: 8s;
  }
   
  img:nth-child(3) {
    animation-delay: 4s;
  }
   
  img:nth-child(4) {
    animation-delay: 0s;
  }
  
  .Albums {
    justify-content: center;
    float: left;
    text-align: center;
    margin-top: 200px;
    margin-left: 75px;
    border-radius: 15;
  }

  .KendrickAlbum {
    
  }

  .KendrickAlbum h3 {
    color: white;
  }

  .MacMillerAlbum {
     
  }

  .MacMillerAlbum h3 {
    color: white;
  }