*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgb(9, 71, 31, 0.2)), url(images/soundwave2.jpeg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.logo {
    width: 90px;
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 40px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color:#fff;
    font-size: 20px;
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
}

.header-col {
    flex-basis: 60%;
}
h1 {
    color: #fff;
    font-size: 60px;
}
p {
    color: #fff;
    font-size: 20px;
    line-height: 15px;
}

.card img {
    width: 200px;
    height: 200px;
    display: inline-flex;
    border-radius: 10px;
    padding: 25px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 10px;
    background-position: center;
    background-size: cover;
    transition: transform 0.9s;
}

.card:hover {
    transform: translateY(-10px);
}
h3 {
    color: #fff;
}
.card p{
    font: bold;
}



.container2 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgb(9, 71, 31, 0.2)), url(images/soundwave1.webp);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    position: absolute;
}

.cover img {
    width: 300px;
    height: 300px;
    padding: 15px 15px;
    box-sizing: border-box;
    margin-left: 10%;
    margin-top: 10%;
    position: fixed;
    z-index: 1;
}

.songs {
    margin-top: 50px;
    margin-left: 500px;
}

.name {
    height: 70px;
    color: #fff;
    position: absolute;
    top: 65%;
    left: 20%;
}
h1 {
    font-size: 40px;
}